page {
  background-color: $u-bg-color;
  color: $u-content-color;
}

* {
  box-sizing: border-box;
}

.main-container {
  padding: 0 20px;
}

.u-wrap {
  background-color: $u-border-color;
}

.cursor {
  cursor: pointer;
}

#play-iframe {
  border: none;
}
